*{ 
  box-sizing: border-box;
}

body {
  background-image: url(../tictactoe/tablecloth.jpg);
  background-size: 500px 1000px;
}

container{
  display: flex;
}

.game-board{
  background-image: url(../tictactoe/bamboomat.jpg);
  background-size: 500px 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  width:100%;
  
}
.game-board div{
  flex: 0 0 33.3333%;
  border: 1px solid white;
  height: 150px;
  width: 100px;
}

.game-winner{
  margin: 2%;
  margin-left: 30%;
  margin-right: 30%; 
  background-color: white; 
  font-family:'Permanent Marker', cursive;
  font-size: 30px;
  text-align: center;
  /* background-image: url(../tictactoe/napkin.png);
  background-size: 100px 100px;
  background-repeat: no-repeat; */
}

header {
  color: white;
  text-align: center;
  font-family:'Permanent Marker', cursive;
  font-size: 52px;
  padding-bottom: 1%;
  padding-top: 1%;
}

 .mark-o{
  background-image: url(../tictactoe/wonton.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 100px;
} 

 .mark-x{
  background-image: url(../tictactoe/chopsticks.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 100px;
 }

 .player1-turn, .player2-turn {
   display: flex;
   flex-wrap: wrap;
   width: 30%;
   border: 2px solid rebeccapurple;
   justify-content: space-between;
   margin: 10%;
 }
 
 .player1, .player2 {
  flex: 1;
  background-color: white;
 }


