*{ 
  box-sizing: border-box;
}

body {
  background-image: url(../tictactoe/tablecloth.jpg);
  background-size: 500px 1000px;
}

container{
  display: flex;
  margin-left: 7%
}


.first-turn{
  font-size: 15pt;
}

.game-board{
  background-image: url(../tictactoe/bamboomat.jpg);
  background-size: 500px 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  
}
.game-board div{
  flex: 0 0 33.3333%;
  border: 1px solid white;
  /* height: 150px;
  width: 150px; */
}

.game-winner{
  margin-left: 34%;
  background-color: white; 
  font-family:'Permanent Marker', cursive;
  font-size: 30px;
  text-align: center;
  width: 33%;
}

header {
  color: white;
  text-align: center;
  font-family:'Permanent Marker', cursive;
  font-size: 52px;
  padding-bottom: 1%;
  padding-top: 1%;
}

img{
  height: 150px;
  width: 150px;
}
 .mark-o{
  background-image: url(../tictactoe/wonton.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 600ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
} 

 .mark-x{
  background-image: url(../tictactoe/chopsticks.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
 }

 .player2-score, .player1-score{
   flex: 1;
   background-color: white;
   height:190px;
   width: 180px
 }
 .player1-turn, .player2-turn {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 5%;
 }
 
 .player1, .player2 {
  flex: 1;
  width: 100%;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  height: 90%;
  font-size: 20pt;
 }


.reset {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
}


